<launch>
<!-- ============ Arguments ============ -->
  <!-- Dataset -->
  <arg name="bag_name" default="/home/lukas/Documents/PanopticMapping/Data/flat_dataset/run2.bag"/> 
  <arg name="bag_play_rate" default="1"/>
  <arg name="use_sim_time" default="false"/>
    
  <!-- Mapper -->
  <arg name="config" default="devel_mapper"/>
  <arg name="use_image_input" default = "true"/>
  
  <!-- Load maps -->
  <arg name="load_map" default = "true"/>
  <arg name="load_file" default = "/home/lukas/Documents/PanopticMapping/Data/maps/run1.panmap"/>



<!-- ============ Run ============ -->
  <param name="/use_sim_time" value="$(arg use_sim_time)" />
  
  <!-- Play data -->
  <node pkg="rosbag" type="play" name="rosbag" args="$(arg bag_name) --clock -r $(arg bag_play_rate) -d 2 -s 1" if="$(arg use_sim_time)"/>
    <node pkg="rosbag" type="play" name="rosbag" args="$(arg bag_name) -r $(arg bag_play_rate) -d 2 -s 1" unless="$(arg use_sim_time)"/>

  <!-- RVIZ Visualization-->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find panoptic_mapping_ros)/config/devel_vis.rviz" output="screen"/>

  <!-- Path visualization -->
  <node name="path_visualizer" pkg="panoptic_mapping_ros" type="path_visualizer.py" output="screen">
    <remap from="~pose_in" to="/airsim_drone/ground_truth/pose" />
        <param name="use_arrow" value="false" /> 
        <param name="length" value="0.5" />
  </node>
  
  <!-- Mapper -->
  <node name="panoptic_mapper" pkg="panoptic_mapping_ros" type="panoptic_mapper_node" output="screen">
    <rosparam file="$(find panoptic_mapping_ros)/config/$(arg config).yaml" />
    <remap from="pointcloud_in" to="/airsim_drone/Pointcloud" unless="$(arg use_image_input)"/>
    <remap from="color_image_in" to="/airsim_drone/Scene_cam" if="$(arg use_image_input)"/>
    <remap from="depth_image_in" to="/airsim_drone/Depth_cam" if="$(arg use_image_input)"/>
    <remap from="segmentation_image_in" to="/airsim_drone/Id_corrected" if="$(arg use_image_input)"/>
  </node>  
  
  <!-- Map loader -->
  <node name="map_loader" pkg="panoptic_mapping_ros" type="map_loader.py" if="$(arg load_map)">
     <param name="path" value="$(arg load_file)" /> 
     <param name="srv_name" value="/panoptic_mapper/load_map" /> 
     <param name="delay" value="0.25" /> 
  </node>  

</launch>
