<launch>
  <!-- Arguments -->
  
  <!-- Flat Dataset args -->
  <arg name="bag_name" default="/home/lukas/Documents/Datasets/flat_dataset/run1.bag"/> 
  <arg name="bag_play_rate" default="2"/>  <!-- Realtime factor -->
  <arg name="namespace" default="data"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="use_detectron" default="false"/>


  <!-- Run -->
  
  <!-- Play data -->
  <param name="use_sim_time" value="true"/>
  <node pkg="rosbag" type="play" name="rosbag" args="$(arg bag_name) --clock -r $(arg bag_play_rate)">
    <remap from="/airsim_drone/ground_truth/pose" to="$(arg namespace)/pose" />
    <remap from="/airsim_drone/Pointcloud" to="$(arg namespace)/pointcloud" />  
    <remap from="/airsim_drone/Scene_cam" to="$(arg namespace)/color_image" />
    <remap from="/airsim_drone/Depth_cam" to="$(arg namespace)/depth_image" />
    <remap from="/airsim_drone/Id_corrected" to="$(arg namespace)/segmentation_image" unless="$(arg use_detectron)"/>
  </node>

  <!-- RVIZ Visualization -->
  <node type="rviz" name="rviz_voxblox" pkg="rviz" args="-d $(find panoptic_mapping_ros)/config/rviz/voxblox.rviz"/>
  
  <!-- Voxblox -->
  <node name="voxblox_node" pkg="voxblox_ros" type="tsdf_server" output="screen" args="-alsologtostderr">
    <remap from="pointcloud" to="/data/pointcloud"/>
    <param name="use_tf_transforms" value="true"/>
    <param name="tsdf_voxel_size" value="0.02" />
    <param name="truncation_distance" value="0.04" />
    <param name="tsdf_voxels_per_side" value="16" />
    <param name="color_mode" value="color" />
    <param name="update_mesh_every_n_sec" value="3.0" />
    <param name="method" value="fast" />
    <param name="max_ray_length_m" value="5" />
    <param name="world_frame" value="odom" />
    <param name="allow_clear" value="true" />
    <param name="verbose" value="true" />
    <param name="mesh_filename" value="/home/lukas/Documents/PanopticMapping/Data/voxblox/5cm_vxblx.ply" />
    <!-- Weighting -->
    <param name="use_const_weight" value="true"/>
    <param name="use_weight_dropoff" value="false"/>
  </node>
  
</launch>
