<launch>
<!-- ============ Arguments ============ -->
<arg name="map_file" default="/home/lukas/Documents/PanopticMapping/Data/maps/qual_flat/ours"/> 
<!--ours, mono -->

<!--  <arg name="map_file" default="/home/lukas/Documents/PanopticMapping/Data/maps/flat/qual_vis"/> -->

<!-- ============ Display ============ --> 
  <node name="evaluator" pkg="panoptic_mapping_utils" type="single_map_evaluation" output="screen" required="true">
    <param name="map_file" value="$(arg map_file).panmap" />     
    <param name="visualize" value="true" /> 
    <param name="evaluate" value="false" /> 
    <param name="compute_coloring" value="false" /> 
    
    <!-- Visualization Params-->
    <param name="color_mode" value="color" /> <!-- submaps, instances, color, normals, classes, classification, change -->
    <param name="visualization_mode" value="active" /> <!-- all, active, active_only, inactive, persistent -->

<!--    submap_color_discretization: 20-->
<!--    visualize_mesh: true-->
<!--    visualize_tsdf_blocks: true-->
<!--    visualize_free_space: true-->
<!--    visualize_bounding_volumes: true-->
<!--    include_free_space: false-->
<!--    mesh_min_weight: 0.000001-->
  </node>
  
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find panoptic_mapping_utils)/config/evaluate_panmap.rviz"/>
  
</launch>
