<launch>
<!-- ============ Arguments ============ -->
  <arg name="scene"/>
  <arg name="model"/>
  <arg name="data_path" default="/media/blumh/data/scannet/valscans/$(arg scene)"/>
  <arg name="inference_path" default="/media/blumh/data/clustering_outputs/scannet_inference/$(arg scene)/$(arg model)"/>
  <arg name="inference_method" value="pred" />
  <arg name="uncertainty_method" value="maxlogit-pp" />
  <arg name="wait" default="false"/>
  <arg name="visualize" default="false"/>
  <arg name="namespace" default="data"/>
  <arg name="global_frame_name" default="world"/>
  <arg name="sensor_frame_name" default="depthcam"/>


<!-- ============ Play Data ============ -->
   <node pkg="panoptic_mapping_utils"
         type="scannetv2_data_player.py"
         name="scannetv2_data_player"
         output="screen"
         launch-prefix="bash -c 'sleep 1; $0 $@'"
         required="false">
    <param name="data_path" value="$(arg data_path)" />
    <param name="inference_path" value="$(arg inference_path)" />
    <param name="id_fileending" value="$(arg inference_method)" />
    <param name="score_fileending" value="$(arg uncertainty_method)" />
    <param name="global_frame_name" value="$(arg global_frame_name)" />
    <param name="sensor_frame_name" value="$(arg sensor_frame_name)" />
    <param name="wait" value="$(arg wait)" />
    <param name="play_rate" value="0.3" />

    <remap from="~color_image" to="$(arg namespace)/color_image" />
    <remap from="~depth_image" to="$(arg namespace)/depth_image" />
    <remap from="~id_image" to="$(arg namespace)/segmentation_image" />
    <remap from="~score_image" to="$(arg namespace)/uncertainty_image" />
    <remap from="~pose" to="$(arg namespace)/pose" />
  </node>

  <!-- Mapper -->
  <node name="panoptic_mapper" pkg="panoptic_mapping_ros" type="panoptic_mapper_node" output="screen" required="true">
    <!-- Config -->
    <rosparam file="$(find panoptic_mapping_ros)/config/mapper/scannetv2_single_tsdf.yaml"/>
    <param name="save_map_path_when_finished" value="$(arg inference_path)/$(arg uncertainty_method)"/>
    <param name="shutdown_when_finished" value="true"/>
    <rosparam ns="id_tracker">
    use_class_layer: false
    classification: None
    scores:
      type: average
    </rosparam>
    <rosparam ns="tsdf_integrator">
    use_segmentation: false
    use_score: true
    </rosparam>
    <rosparam ns="visualization/submaps">
    color_mode: score # color, normals, classes, instances, classification
    min_score: -10.0
    max_score: 6.0
    </rosparam>

    <!-- Input -->
    <remap from="color_image_in" to="$(arg namespace)/color_image"/>
    <remap from="depth_image_in" to="$(arg namespace)/depth_image"/>
    <remap from="segmentation_image_in" to="$(arg namespace)/segmentation_image"/>
    <remap from="uncertainty_image_in" to="$(arg namespace)/uncertainty_image"/>
  </node>

  <!-- RVIZ Visualization-->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find panoptic_mapping_ros)/config/rviz/devel.rviz" output="screen" if="$(arg visualize)"/>

</launch>
